<div class = 'd-flex' cdkDropListGroup>
  <div *ngIf = 'undefinedTasks' class="task-container">
    <h2>Undefined Tasks</h2>

    <div
      cdkDropList
      [cdkDropListData]="undefinedTasks"
      class="task-list"
      (cdkDropListDropped)="drop($event)">
      <div class="task-box" *ngFor="let item of undefinedTasks" cdkDrag>
        {{item.name}}
      </div>
    </div>
  </div>

  <div class = 'matrix'>
    <div *ngIf = 'toDoTasks' class="task-container">
      <h2>To Do Tasks</h2>

      <div
        cdkDropList
        [cdkDropListData]="toDoTasks"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of toDoTasks" cdkDrag>{{item.name}}</div>
      </div>
    </div>

    <div *ngIf = 'toDecideTasks' class="task-container">
      <h2>To Decide Tasks</h2>

      <div
        cdkDropList
        [cdkDropListData]="toDecideTasks"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of toDecideTasks" cdkDrag>{{item.name}}</div>
      </div>
    </div>

    <div *ngIf = 'toDelegateTasks' class="task-container">
      <h2>To Delegate Tasks</h2>

      <div
        cdkDropList
        [cdkDropListData]="toDelegateTasks"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of toDelegateTasks" cdkDrag>{{item.name}}</div>
      </div>
    </div>

    <div *ngIf = 'toDeleteTasks' class="task-container">
      <h2>To Delete Tasks</h2>

      <div
        cdkDropList
        [cdkDropListData]="toDeleteTasks"
        class="task-list"
        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of toDeleteTasks" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  
  </div>

</div>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav> -->